body {
    margin-top: -25px;
}
.webContainer {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.gradientContainer {
    background: linear-gradient(to right, #2364E6 10%, 60%, #00A1E9 90%);
}
.headerContainer {
    background-color: #FFFFFF;
}
.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.logoImage {
    width: 100px;
}
.headerLinkContainer {
    text-align: right;
}
.headerLink {
    color: #174195;
    font-size: small;
    margin-right: 2px;
}
.text {
    font-family: 'OpenSans-Regular';
    /*text-align: justify;*/
}
.bodyContainer {
    background-color:#174195;
    flex-grow: 1;
}
.bodyTopContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00AAEF;
    font-size: large;
    color:  #FFFFFF;
    height: 70px;
}
.bodyTopContainerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    background-color: #000000;
    color:  #FFFFFF;
    border-radius: 3px;
    height: 30px;
    padding-right: 10px;
    margin: 30px;
}
.blueAdd {
    font-size: large;
    font-weight: bolder;
    color:  #00AAEF;
    margin: 10px;
}
.bodyMiddleLeftContainer {
    height: auto;
    padding-left: 0px;
}
.bodyMiddleLeftContainerPresentation {
    padding-left: 25px;
    justify-content:center;
}
.bodyMiddleLeftPresentationChildContainer {
    display: flex;
    flex-direction: column;
}
.presentationText {
    color: #FFFFFF;
    font-size: small;
}
.cguPresentationText {
    color: #000000;
    font-size: small;
}
.presentationHeader {
    font-size: x-large;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.webPlanPresentationHeader {
    font-size: large;
}
.carouselSlide {
    flex-grow: 1;
}
.downloadContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
.bodyMiddleRightContainer {
    height: auto;
    background-color:#0D2F74;
}
.bodyMiddleRightChildContainer {
    padding-top: 50px;
    padding-bottom: 50px;
}
.webPlanContainer {
    background-color: #FFFFFF;
    color: #174195;
    margin-bottom: 20px;
    text-align: center;
    width: 170px;
    height: 70px;
    z-index: 2;
}
.webFirstPlanContainer {
    margin-top: 50px;
}
.webLastPlanContainer {
    margin-bottom: 50px;
}
.webSubPlanContainer {
    background-color: #0D2F74;
    margin-left: -60px;
    padding-left: 150px;
    padding-right: 40px;
    padding-top: 50px;
    border-radius: 3px;
    height: 100%;
    margin-right: -15px;
}
.testBg {
    background-color: blueviolet;
}
.notFocusable:focus {
    outline: none;
    box-shadow: none;
}
.bodyBottomContainer {
    height: auto;
    display: flex;
    flex-direction: column;
}
.bodyBottomContainer1 {
    background-color: #2364E6;
}
.bodyBottomContainer2 {
    background-color: #7A7A7A;
}
.bodyBottomContainer3 {
    background-color: #373737;
}
.bodyBottomContainer4 {
    background-color: #000000;
}
.subPlanContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}
.subPlanContainerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subPlanlContainerHeaderText {
    font-size: x-large;
    color: #174195;
    text-align: center;
}
.subPlanlContainerText {
    font-size: small;
    color: #174195;
}
.whiteAdd {
    font-size: large;
    font-weight: bolder;
    color:  #FFFFFF;
    margin: 10px;
}
.subPlanlContainerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: #00A1E9;
    color:  #FFFFFF;
    border-radius: 3px;
    height: 50px;
    padding-right: 10px;
    margin-top: 15px;
}
.webSubPlanlContainerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: #00A1E9;
    color:  #FFFFFF;
    border-radius: 3px;
    height: 50px;
    width: 250px;
    padding-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.aboutChildContainer {
    display: flex;
    flex-direction: column;
    width: auto;
}
.contactContainer {
    background-color: #7A7A7A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.messageSumbmitlContainerButton {
    font-size: large;
    background-color: #00A1E9;
    color:  #FFFFFF;
    border-radius: 3px;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-item {
    color: brown;
}
.preFooterContainer {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.preFooterText {
    color: #174195;
    font-size: large;
    margin: 10px;
    text-align: center;
}
.footerContainer {
    text-align: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: small;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footerContainer a:hover {
    text-decoration: underline;
}
.footerLink, .footerLink:hover {
    color: #FFFFFF;
}
.cguContainer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.cguChildContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    width: 500px;
}
.cguPresentationLink {
    color: #00A1E9;;
}
.cguPresentationText a:hover {
    text-decoration: underline;
}

.nav-pills .nav-link {
    background-color: #FFFFFF;
    color: #174195;
    background-image: url(../images/arrow.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position-x: right;
    background-position-y: center;
}
.nav-pills .nav-link:hover, .nav-pills .nav-link.active {
    background-color: #FFFFFF;
    color: #174195;
    width: 200px;
    background-image: url(../images/arrow-hover.png);
}
.navBackgroud {
    background-color: #FFFFFF;
}

.collapsible-link {
    width: 100%;
    position: relative;
    text-align: left;
}
.collapsible-link::before {
    content: '\f107';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: 'FontAwesome';
    font-size: 1.5rem;
    color: #FFFFFF;
}
.collapsible-link[aria-expanded='true']::before {
    content: '\f106';
}

.carouselItem {
    margin-bottom: 20px;
}

a:hover{
    text-decoration: none;
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    .bodyMiddleLeftContainerPresentation {
        justify-content:flex-start
    }
    .logoImage {
        width: 180px;
    }
    .navMenuItem {
        margin-right: 50px;
    }
}

@media (min-width: 992px) {
    .bodyMiddleLeftContainerBG {
        background-image: url(../images/trame.png);
        background-repeat: no-repeat;
        background-size: 300px;
        background-position-x:right;
        background-position-y: center;
    }
    .bodyBottomContainer {
        height: 380px;
    }
    .bodyMiddleRightContainer {
        background-color:#174195;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0px;
    }
    .aboutChildContainer {
        width: 500px;
    }
    .cguChildContainer {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .webPlanContainer {
        width: 200px;
    }
    .nav-pills .nav-link:hover, .nav-pills .nav-link.active {
        width: 230px;
    }
    .logoContainer {
        padding: 70px;
    }
    .presentationHeader {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@font-face {
	font-family: "OpenSans-Regular";
	src: url('../fonts/OpenSansRegular.ttf');
}